<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletChat</servlet-name>
        <servlet-class>pe.edu.autonoma.controller.ServletChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarUsuarioServ</servlet-name>
        <servlet-class>pe.edu.autonoma.controller.ListarUsuarioServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformacionPersonal</servlet-name>
        <servlet-class>pe.edu.autonoma.controller.InformacionPersonal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletChat</servlet-name>
        <url-pattern>/ServletChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarUsuarioServ</servlet-name>
        <url-pattern>/ListarUsuarioServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformacionPersonal</servlet-name>
        <url-pattern>/InformacionPersonal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
